.main-bar
  .main-bar__group-list
    .main-bar__group-list__group-status
      .main-bar__group-list__group-status__name
        = @group.name
      .main-bar__group-list__group-status__member
        Member:
        - @group.users.each do |user|
          = user.name
    .main-bar__group-list__group-edit  
      = link_to edit_group_path(@group), class: "main-bar__group-list__group-edit__icon" do
        %p
          Edit
  .main-bar__messages
    = render @messages
  .main-bar__message-form
    = form_for [@group, @message], html: { class: "main-bar__message-form__form"} do |f|
      = f.text_field :content, class: 'main-bar__message-form__form__text', placeholder: 'type a message'
      .main-bar__message-form__form__image-box
        = f.label :image, class: 'main-bar__message-form__form__image-box__label' do
          = icon('fas', 'image', class: 'main-bar__message-form__form__image-box__icon')
          = f.file_field :image, class: 'main-bar__message-form__form__image-box__input'
      = f.submit 'Send', class: 'main-bar__message-form__form__send'